<section style="margin: 2em 2em;">
  <mat-tab-group [selectedIndex]="0" animationDuration="100ms" class="janison-tabs">
    <mat-tab>
      <ng-template mat-tab-label>
        <span>Tab 1</span>
        <span class="tab-badge">5</span>
      </ng-template>
      <div class="tab-content">

        <app-carousel>
        </app-carousel>

      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <span>Tab 2</span>
        <span class="tab-badge">3</span>
      </ng-template>
      <div class="tab-content">
        <carousel [lightDOM]="true" [cellWidth]=400 [height]=300 [freeScroll]="false" [arrows]="true"
          [overflowCellsLimit]=0 [dots]="true">

          <div class="carousel-cell"></div>
          <div class="carousel-cell"></div>
          <div class="carousel-cell"></div>
          <div class="carousel-cell"></div>
          <div class="carousel-cell"></div>
          <div class="carousel-cell"></div>
          <div class="carousel-cell"></div>
        </carousel>

      </div>
    </mat-tab>


    <mat-tab>
      <ng-template mat-tab-label>
        <span>Tab 3</span>
        <span class="tab-badge">5</span>
      </ng-template>
      <div class="tab-content">
        <app-carousel>
        </app-carousel>
      </div>
    </mat-tab>

    <mat-tab disabled>
      <ng-template mat-tab-label>
        <span>Tab 4</span>
        <span class="tab-badge">14</span>
        <mat-icon>lock</mat-icon>
      </ng-template>
      <div class="tab-content"></div>
    </mat-tab>
  </mat-tab-group>
</section>

<!-- <app-carousel>
</app-carousel> -->