::ng-deep .mat-snack-bar-container {
  border-radius: 12px;
  font-family: 'Roboto Slab';
  font-size: 14px;
  color: var(--white);
  background-color: var(--grey-1);
  button {
    background-color: transparent;
    font-family: 'Roboto Slab';
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
    mat-icon {
      color: var(--primary-2);
    }
  }
}
