@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

$expert-green: #006d68;
$growing-green: #23a964;
$tech-blue: #0f97ff;
$horizon-blue: #b1e4e3;

$secondary-blue: #002c71;
$secondary-purple: #7f5eb5;
$secondary-yellow: #ffab00;
$secondary-coral: #ff7c70;

$body-copy-charcoal: #33354a;
$secondary-grey: #737373;
$subtle-grey: #dbd9d9;
$background-grey: #f3f3f3;

:root {
  --primary-1: #{$expert-green};
  --primary-2: #{$growing-green};
  --primary-2-rgb: #{hexToRGB(($growing-green))};
  --primary-3: #{$tech-blue};
  --primary-4: #{$horizon-blue};

  --secondary-1: #{$secondary-blue};
  --secondary-2: #{$secondary-purple};
  --secondary-3: #{$secondary-yellow};
  --secondary-4: #{$secondary-coral};

  --grey-1: #{$body-copy-charcoal};
  --grey-2: #{$secondary-grey};
  --grey-3: #{$subtle-grey};
  --grey-4: #{$background-grey};

  --white: #fff;
  --danger: red;
}
