// @import '~@angular/material/prebuilt-themes/indigo-pink.css';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat.define-palette(mat.$teal-palette);
$app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn
    )
  )
);

@mixin mat-ripple-theme($theme) {
  .mat-ripple-element {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($app-theme);

// Override typography for all Angular Material, including mat-base-typography and all components.
// ? Importing `Work Sans` font for headings, you can change this if you want
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');

$heading-font-family: "'Roboto Slab', sans-serif";

$custom-typography: mat.define-typography-config(
  $display-4:
    mat.define-typography-level(112px, $font-family: $heading-font-family),
  $display-3:
    mat.define-typography-level(56px, $font-family: $heading-font-family),
  $display-2:
    mat.define-typography-level(45px, $font-family: $heading-font-family),
  $display-1:
    mat.define-typography-level(34px, $font-family: $heading-font-family),
  $headline:
    mat.define-typography-level(24px, $font-family: $heading-font-family),
  $title: mat.define-typography-level(20px, $font-family: $heading-font-family)
);
@include mat.core($custom-typography);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* All other component styles */
// @import 'colours.scss';
// @import 'buttons.scss';
// @import 'button-menu.scss';
// @import 'fonts.scss';
// @import 'form-fields.scss';
// @import 'icon.scss';
// @import 'inputs.scss';
// @import 'split-action-buttons.scss';
// @import 'toggles.scss';
// @import 'form-fields.scss';
// @import 'chips-badges.scss';
// @import 'tabs.scss';

/* Add application styles & imports to this file! */
body,
html {
  padding: 0 0;
  margin: 0 0;
  font-size: 16px;
}
